@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url(fontes/idroid.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --cor0:#C5EBD6;
    --cor1:#84E1AD;
    --cor2:#10A235;
    --cor3:#2FA866;
    --cor4:#1A5C38;
    --cor5:#0B522E;

    --font-padrao:Arial, Helvetica, sans-serif;
    --font-destaque: 'Bebas Neue', sans-serif;
    --font-android:'Android', sans-serif;
}

*{
    margin: 0px;
    line-height: 1.5em;
}

body {
    background-color: var(--cor1);
    font-family: var(--font-padrao);
}
a.externo::after {
    content: '\0020\1F517';
}

strong {
    background-color: #84e1ac48;
    color: var(--cor4);
    font-size: 1em;
    border-radius: 3px;
    padding: 3px 5px;
}

img {
    width: 100%;
}

img.pequeno {
    max-width: 350px;
    display: block;
    margin: auto;
}

header {
    background-image: linear-gradient( to bottom, var(--cor3), var(--cor5));
    color: white;
    min-height: 100px;
    text-align: center;
    padding: 10px;
}

header h1 {
    font-family: var(--font-destaque);
    font-size: 3em;
    font-weight: normal;
    margin: 20px auto;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.495);
}

header > p {
    padding: 0px 10px 10px;
    margin: auto;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.498);
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 2px 5px 4px rgba(0, 0, 0, 0.694);
}

nav > a {
    color: white;
    font-weight: 700;
    text-decoration: none;
    transition: .7s;
    margin: 10px;
    padding: 10px;
}

nav > a:hover {
    text-decoration: underline;
    color: var(--cor4);
    background-color: var(--cor2);
    padding: 10px;
    border-radius: 5px;
}

main {
    background-color: white;
    min-width: 300px;
    max-width: 800px;
    padding: 10px;
    padding-bottom: 15px;
    margin: auto;
    margin-bottom: 25px;
    border-radius: 0px 0px 6px 6px;
    box-shadow: 5px 3px 6px rgba(0, 0, 0, 0.605);
}

article {
    padding: 10px;
}

main h1 {
    color: var(--cor4);
    font-family: var(--font-android);
    margin-bottom: 10px ;
    font-size: 2.0em;
    margin-bottom: 5px;
}

main h2 {
    background-image: linear-gradient( to right, var(--cor0), transparent);
    color: var(--cor4);
    font-family: var(--font-android);
    text-indent: 10px;
    margin-bottom: 5px;
}

main p {
    text-align: justify;
    text-indent: 30px;
}

main a {
    background-color: #84e1ac48;
    color: var(--cor4);
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    border-radius: 3px;
    padding: 3px 5px;
}

section.intro {
    margin-bottom: 10px;
}

section.versao {
    margin-bottom: 10px ;
}

section.video {
    position: relative;
    background-color: var(--cor5);
    margin: 0px -10px;
    padding: 175px;
}

section.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 315px;
}

aside {
    background-color: var(--cor0);
    padding: 15px;
    margin: 15px 10px ;
    border-radius: 8px ;
    padding-bottom: 10px;
}

aside h3 {
    background-color: var(--cor3);
    color: white;
    padding: 10px;
    margin: -15px -15px 10px;
    border-radius: 8px 8px 0px 0px;
}

aside ul {
    padding: 10px;
    list-style-type: '\2714\00A0\0020';
    columns: 2;
    list-style-position: inside;
    text-align: justify;
    display: block;
}

ul li {
    font-size: 14px;
}

aside abbr {
    text-decoration: none;
    font-weight: bold;
}


footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    padding: 10px;
    margin: auto;
}

footer > p {
    font-size: 0.9em;
}

footer a {
    color: var(--cor0);
    text-decoration: none;
    font-weight: bold;
}

footer abbr {
    text-decoration: none;
}

footer a:hover {
    transition: .3s;
    padding: 3px;
    border-radius: 5px;
    color: var(--cor2);
    background-color: var(--cor4);
    text-decoration: underline;
}
